.container-link {
  display: flex;
  justify-content: space-between;
  margin: 50px 20px;
}
.order {
  button {
    padding: 20px 30px;
    background: #000;
  }
  width: 95%;
  height: auto;
  background: linear-gradient(210.55deg, #ebf2f9 19.14%, #c6d7eb 154.68%);
  border: 3px solid #fff;
  border-radius: 20px;
  margin: 0 auto;
  padding: 20px;
  .order-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    &__image {
      width: 200px;
      height: 200px;
      object-fit: cover;
    }
    .info {
      display: flex;
      flex-direction: column;
      gap: 20px;
      p {
        font-family: "Montserrat";
        font-size: 32px;
        font-weight: 400;
        max-width: 400px;
        width: 100%;
      }
      &__button {
        display: flex;
        align-items: center;
        gap: 10px;
        h1 {
          font-size: 16px;
          font-weight: 400;
        }
        button {
          padding: 6px 12px;
          background: linear-gradient(
            210.55deg,
            #ebf2f9 19.14%,
            #c6d7eb 154.68%
          );
          border: 1px solid #fff;
          border-radius: 10px;
        }
      }
    }
    &__stars {
      max-width: 100px;
      width: 100%;
      margin: 15px 0;
    }
    &__price {
      h1 {
        font-family: "Montserrat";
        font-size: 32px;
        font-weight: 600;
        line-height: 40px;
      }
      h2 {
        font-family: "Inter";
        font-size: 22px;
        font-weight: 400;
        line-height: 47px;
        color: #525252;
        text-decoration: line-through;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .order {
    .order-wrap {
      max-width: 90%;
      .info p {
        max-width: 300px;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .order {
    .order-wrap {
      align-items: flex-start;
      justify-content: space-around;
    }
  }
}
@media screen and (max-width: 560px) {
  .order {
    width: 90%;
  }
}
@media screen and (max-width: 425px) {
  .order {
    width: 85%;
  }
}
