#review .review {
  margin: 100px 0 30px 0;
}
#review .review button {
  display: flex;
  align-items: center;
  gap: 5px;
  background: linear-gradient(210.55deg, #ebf2f9 19.14%, #c6d7eb 154.68%);
  border: 1px solid;
  border-image-source: linear-gradient(123.5deg, #ffffff 38.36%, rgba(219, 230, 242, 0) 69.31%, #8f9fae 131.91%);
  box-shadow: 16px 16px 64px 0 rgba(18, 61, 101, 0.48), -16px -16px 40px 0 rgba(255, 255, 255, 0.8);
  padding: 10px 60px;
  border-radius: 20px;
  font-size: 18px;
  font-weight: 400;
  transition: 0.5s all;
}
#review .review button:hover {
  box-shadow: 7px 7px 7px 0 rgba(18, 61, 101, 0.14) inset, -7px -7px 7px 0px rgb(255, 255, 255) inset;
}
#review .review--card {
  max-width: 1250px;
  min-height: 150px;
  border-radius: 24px;
  padding: 20px;
  background: linear-gradient(210.55deg, #ebf2f9 -27%, #ebf2f9 7.42%, #e0ebf9 69.57%, #e4eef9 79.07%, #c6d7eb 154.68%);
  box-shadow: 16px 4px 64px 0 rgba(18, 61, 101, 0.2), -8px -6px 80px 0 rgba(255, 255, 255, 0.18) inset;
  margin-top: 30px;
}
#review .review--card__about {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#review .review--card__about--title {
  display: flex;
  align-items: center;
}
#review .review--card__about--title h1 {
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: 600;
}
#review .review--card__about--title__stars {
  margin-left: 30px;
  display: flex;
  align-items: center;
  gap: 5px;
}
#review .review--card__about--title__stars .starsYellow {
  color: rgb(255, 115, 0);
  width: 15px;
  height: 22px;
}
#review .review--card__about--title__stars .starsNone {
  color: rgba(0, 0, 0, 0.35);
  width: 15px;
  height: 22px;
}
#review .review--card__about--title__date span {
  color: rgb(136, 136, 136);
  font-size: 20px;
  font-weight: 500;
}
#review .review--card p {
  color: rgb(0, 0, 0);
  font-size: 20px;
  line-height: 33px;
  margin-top: 50px;
}

.review--cardabout--titledate span {
  font-weight: 500;
  font-size: 18px;
}

.review--cardsPerson {
  max-width: 1250px;
  min-height: 150px;
  border-radius: 24px;
  padding: 20px;
  background: linear-gradient(210.55deg, #ebf2f9 -27%, #ebf2f9 7.42%, #e0ebf9 69.57%, #e4eef9 79.07%, #c6d7eb 154.68%);
  box-shadow: 16px 4px 64px 0 rgba(18, 61, 101, 0.2), -8px -6px 80px 0 rgba(255, 255, 255, 0.18) inset;
  margin-top: 30px;
}

.reviewTitled {
  font-size: 20px;
  margin-top: 30px;
}

.reviewTitled2 {
  font-size: 19px;
  margin-top: 30px;
  display: none;
}

@media (max-width: 845px) {
  .reviewTitled {
    display: none;
  }
  .reviewTitled2 {
    display: block;
  }
}
@media (max-width: 486px) {
  .reviewTitled {
    display: none;
  }
  .reviewTitled2 {
    display: block;
  }
}
@media (max-width: 572px) {
  h1 {
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-weight: 600;
  }
}
@media (max-width: 573px) {
  .review--card__about--title {
    position: absolute;
    margin-top: 60px;
  }
  .reviewTitled2 {
    margin-top: 70px;
  }
}
@media (max-width: 593px) {
  .review--card__about--title {
    position: absolute;
    margin-top: 60px;
  }
  .reviewTitled2 {
    margin-top: 70px;
  }
}
@media (max-width: 467px) {
  #review .review--card__about--title h1 {
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-weight: 600;
  }
}/*# sourceMappingURL=review.css.map */