.header__content {
  border-radius: 24px;
  border: 1px solid #ffff;
  margin-top: 21px;

  overflow: hidden;
}

.header__info {
  display: flex;
  justify-content: space-between;
}

.logo {
  margin-top: 20px;
  position: absolute;
  top: 70px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header__nav {
  &__btns {
    display: flex;
    background: #e3edf7;
    border-radius: 16px;
    height: 40px;
    border: 1px solid #ffff;
    overflow: hidden;
    margin: 15px 35px 0 223px;
  }

  &__btn {
    padding: 6px 14px;
    border-radius: 10px;
    background: none;
    cursor: pointer;
    border: none;
  }
  &__btn:hover {
    padding: 6px 14px;
    border-radius: 10px;
    background: none;
    cursor: pointer;
    border: none;
    box-shadow: 3px 3px 7px 0px #ffffff inset;
    box-shadow: 3px 3px 7px 0px #88a5bf7a inset;
  }
}

.header__nav__btn__help {
  width: 60px;
  height: 40px;
  border: 1px solid #ffffff;
  background: none;
  cursor: pointer;
  box-shadow: 4px 2px 16px 0px #88a5bf7a;
  box-shadow: -4px -2px 16px 0px #ffffff;
}
.header__nav__btn__help:hover {
  box-shadow: 3px 3px 7px 0px #ffffff inset;
  box-shadow: 3px 3px 7px 0px #88a5bf7a inset;
}

.header__nav__btn__profile {
  width: 60px;
  height: 40px;
  border-radius: 16px, 0px, 0px, 16px;
  background: none;
  cursor: pointer;
  border: 1px solid #ffffff;
  box-shadow: 4px 2px 16px 0px #88a5bf7a;
  box-shadow: -4px -2px 16px 0px #ffffff;
}

.header__nav__btn__profile:hover {
  box-shadow: 3px 3px 7px 0px #ffffff inset;
  box-shadow: 3px 3px 7px 0px #88a5bf7a inset;
}

.input {
  width: 168px;
  height: 40px;
  border-radius: 16px;
  border: none;
  margin: 15px 0 0 0;
  background: #e5edf7;
  padding-left: 10px;
  box-shadow: 3px 3px 7px 0px #88a5bf7a inset;
  box-shadow: -3px -3px 7px 0px #ffffff inset;
  border: 1px solid #ffffff;
  margin: 15px 35px 0 220px;
  position: relative;
  outline: none;

  &__icon__btn {
    background: none;
    border: none;
    position: absolute;
    width: 24px;
    height: 24px;
    top: 101px;
    left: 100px;
    padding: 2px 1.69px;
    z-index: -1;
  }
}
.header__nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
}

.header__nav > *:not(:last-child) {
  margin-right: 20px;
}

@media screen and (max-width: 768px) {
  .header__nav > *:not(:last-child) {
    margin-right: 10px;
  }
}

.header__nav__link {
  text-decoration: none;
  width: 150px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px, 37px, 8px, 38px;
  border-radius: 16px;
  border: 1px solid #ffffff;
  box-shadow: 4px 2px 16px 0px #88a5bf7a;
  box-shadow: -4px -2px 16px 0px #ffffff;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  color: #000000;
}

.header__nav__link:hover {
  border: 1px solid #ffffff;
  box-shadow: 3px -3px 7px 0px #ffffff inset;
  box-shadow: 3px 3px 7px 0px #88a5bf7a inset;
}

@media screen and (max-width: 14330px) {
  .input__icon__btn {
    background: none;
    border: none;
    position: absolute;
    width: 24px;
    height: 24px;
    top: 101px;
    left: calc(100% - 125px);
    padding: 2px 1.69px;
  }
}
@media screen and (max-width: 1260px) {
  .input__icon__btn {
    width: 24px;
    height: 24px;
    top: 101px;
    left: calc(100% - 80px);
    padding: 2px 1.69px;
  }
}
@media screen and (max-width: 1100px) {
  .input__icon__btn {
    width: 24px;
    height: 24px;
    top: 101px;
    left: calc(100% - 75px);
    padding: 2px 1.69px;
  }
}
@media screen and (max-width: 1080px) {
  .input__icon__btn {
    top: 101px;
    left: calc(100% - 125px);
    padding: 2px 1.69px;
  }
}
@media screen and (max-width: 985) {
  .header__nav {
    gap: 15px;
  }
}
