#favorites{
  .h1{
    color: rgba(0, 0, 0, 1);
    font-size: 30px;
    font-weight: 500;
    margin: 40px 0;
  }
  .favorites{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    &--none{
      width: 100%;
      height: 220px;
      background: linear-gradient(210.55deg, #EBF2F9 19.14%, #C6D7EB 154.68%);
      border-radius: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      h2{
        font-size: 30px;
        color: rgba(0, 0, 0, 1);
        font-weight: 500;
        margin: 30px 0;
      }
    }
      .newPostopleniya--all__card {
        padding: 15px;
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: 24px;
        width: 275px;
        height: 590px;
        box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.08),
        -4px -4px 10px 0 rgba(0, 0, 0, 0.08);
        background: rgba(235, 242, 249, 1);
        transition: .3s;
        &:hover{
          background: rgba(188, 192, 197, 0.3);
        }
        &--h3 {
          display: flex;
          align-items: center;
          justify-content: space-between;
          h3 {
            font-weight: 400;
            font-size: 18px;
            color: #fff;
            border-radius: 5px;
            padding: 5px 10px;
            box-shadow: -4px -4px 4px 0 rgba(0, 0, 0, 0.08),
            4px 4px 3px 0 rgba(0, 0, 0, 0.08);
            background: rgba(255, 115, 0, 1);
            border: 1px solid white;
          }
          &__stars {
            display: flex;
            align-items: center;
            gap: 5px;
            .starsYellow {
              color: rgba(255, 115, 0, 1);
            }
            .starsNone {
              color: rgba(0, 0, 0, 0.35);
            }
          }
        }
        img {
          width: 194px;
          height: 194px;
          margin: 10px 0 15px 0;
        }
        .imgHeart {
          font-size: 35px;
          color: rgba(0, 0, 0, 0.35);
          margin: 0 0 -10px 0;
          cursor: pointer;
        }
        &--available {
          display: flex;
          justify-content: space-between;
          h2 {
            display: flex;
            align-items: center;
            font-size: 18px;
            font-weight: 400;
            gap: 5px;
          }
        }
        &--price {
          h1 {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 18px;
            font-weight: 600;
            margin: 10px 0;
          }
          span {
            text-decoration: line-through;
            color: #888888;
            font-weight: 400;
          }
        }
        &--discount {
          display: flex;
          align-items: center;
          gap: 15px;
          padding: 5px 0;
          h4 {
            background: #ff7300;
            color: black;
            border-radius: 5px;
            padding: 6px 3px;
            font-size: 14px;
          }
          h3 {
            background: #ffffff;
            border-radius: 5px;
            color: black;
            font-size: 13px;
            font-weight: 600;
            padding: 5px;
          }
        }
        &--descrip {
          h1 {
            font-size: 18px;
            font-weight: 500;
            width: 270px;
            height: 45px;
            overflow: hidden;
          }
          p {
            font-size: 18px;
            font-weight: 400;
            color: rgba(136, 136, 136, 1);
            margin: 5px 0;
          }
        }
        &--btn {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin: 15px 0 20px 0;
          button {
            font-weight: 500;
            border-radius: 16px;
            background: rgba(227, 237, 247, 1);
            border: 2px solid rgba(255, 255, 255, 1);
            font-size: 16px;
            width: 183px;
            height: 38px;
            box-shadow: 4px 2px 16px 0 rgba(136, 165, 191, 0.48);
            color: rgba(0, 0, 0, 1);
            transition: .5s all;
            &:hover{
              box-shadow: 7px 7px 7px 0 rgba(18, 61, 101, 0.14) inset, -7px -7px 7px 0px rgba(255, 255, 255, 1) inset;
            }
          }
          .btnBasket {
            font-size: 35px;
            transition: .5s all;
            cursor: pointer;
            &:hover{
              box-shadow: 7px 7px 7px 0 rgba(18, 61, 101, 0.14) inset, -7px -7px 7px 0px rgba(255, 255, 255, 1) inset;
            }
          }
        }
        &--colors {
          display: flex;
          align-items: center;
          h4 {
            font-weight: 500;
            font-size: 16px;
          }
          &__color {
            display: flex;
            gap: 10px;
            margin-left: 20px;
            canvas{
              background: black;
              border-radius: 50%;
              width: 25px;
              height: 25px;
              cursor: pointer;
              &:nth-child(2){
                background: rgba(242, 228, 201, 1);
              }
              &:nth-child(3){
                background: rgba(255, 255, 255, 1);
              }
            }
          }
        }
      }
  }
}