* {
  margin: 0;
  padding: 0;
}

img {
  height: auto;
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  background: linear-gradient(210.55deg, #ebf2f9 19.14%, #c6d7eb 154.68%);
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

button {
  cursor: pointer;
}
