#details{
  .details{
    margin: 50px 0;
    h6{
      color: rgba(136, 136, 136, 1);
      font-size: 18px;
      font-weight: 400;
      margin: 0 0 50px 0;
    }
    &--main{
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      &__slider{
        &--imgs{
          &__m{
            width: 615px;
            height: 386px;
            background: linear-gradient(210.55deg, #EBF2F9 19.14%, #C6D7EB 154.68%);
            box-shadow: 16px 4px 64px 0 rgba(18, 61, 101, 0.2), -8px -6px 80px 0px rgba(255, 255, 255, 0.18) inset;
            border-radius: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          .swiper {
            width: 615px;
            height: 370px;
            margin: 0;
          }

          .swiper-slide {
            text-align: center;
            font-size: 18px;
            display: flex;
            justify-content: center;
            align-items: center;
          }

          .swiper-slide img {
            display: block;
            object-fit: contain;
              width: 420px;
              height: 335px;
            mix-blend-mode: darken;
          }
          &__i{
            display: flex;
            align-items: center;
            margin-top: 30px;
            gap: 25px;
           &--one{
             width: 135px;
             height: 130px;
             border-radius: 20px;
             background: linear-gradient(210.55deg, #EBF2F9 19.14%, #C6D7EB 154.68%);
             box-shadow: 16px 4px 64px 0 rgba(18, 61, 101, 0.2), -8px -6px 80px 0px rgba(255, 255, 255, 0.18) inset;
             display: flex;
             align-items: center;
             justify-content: center;
             img{
               width: 88px;
               height: 115px;
               mix-blend-mode: darken;
               object-fit: fill;
             }
           }
          }
        }
        &--colors{
          display: flex;
          align-items: center;
          margin: 30px 0;
          h4{
            font-size: 20px;
            font-weight: 400;
            color: rgba(136, 136, 136, 1);
          }
          &__canvas{
            display: flex;
            align-items: center;
            gap: 10px;
            margin-left: 20px;
            canvas{
              background: black;
              border-radius: 50%;
              width: 50px;
              height: 50px;
              cursor: pointer;
              &:nth-child(2){
                background: rgba(242, 228, 201, 1);
              }
              &:nth-child(3){
                background: rgba(255, 255, 255, 1);
              }
            }
          }
        }
        &--description{
          width: 614px;
          padding: 20px 10px 30px 15px;
          background: linear-gradient(210.55deg, #EBF2F9 -27%, #EBF2F9 7.42%, #E0EBF9 69.57%, #E4EEF9 79.07%, #C6D7EB 154.68%);
          box-shadow: 16px 4px 64px 0 rgba(18, 61, 101, 0.2),-8px -6px 80px 0 rgba(255, 255, 255, 0.18) inset;
          border-radius: 24px;
          h1{
            color: black;
            font-size: 22px;
            font-weight: 500;
            margin: 0 0 10px 0;
          }
          p{
            font-size: 20px;
            color: black;
            line-height: 36px;
            span{
              color: rgba(136, 136, 136, 1);
            }
            button{
              border: none;
              background: none;
              color: rgba(1, 30, 184, 1);
              font-size: 15px;
              font-weight: 500;
              margin-left: 10px;
            }
          }
        }
      }
      &__abouts{
        position: relative;
        background: linear-gradient(210.55deg, #EBF2F9 -27%, #EBF2F9 7.42%, #E0EBF9 69.57%, #E4EEF9 79.07%, #C6D7EB 154.68%);
        box-shadow: 16px 4px 64px 0 rgba(18, 61, 101, 0.2),-8px -6px 80px 0 rgba(255, 255, 255, 0.18) inset;
        border-radius: 24px;
        padding: 10px 20px 50px 20px;
        width: 500px;
        &--stars{
          display: flex;
          align-items: center;
          gap: 5px;
          position: absolute;
          right: 20px;
          .starsYellow{
            color: rgba(255, 115, 0, 1);
            width: 20px;
            height: 22px;
          }
          .starsNone{
            color: rgba(0, 0, 0, 0.35);
            width: 20px;
            height: 22px;
          }
        }
        &--h1{
          h1 {
            color: rgba(0, 0, 0, 1);
            font-size: 32px;
            font-weight: 500;
            margin: 50px 0 20px 0;
          }
        }
        &--memory{
          display: flex;
          align-items: center;
          gap: 10px;
          margin: 40px 0;
        p{
          color: rgba(136, 136, 136, 1);
          font-size: 20px;
          font-weight: 400;
         }
          button{
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 18px;
            font-weight: 400;
            color: rgba(0, 0, 0, 1);
            width: 100px;
            height: 40px;
            border-radius: 16px;
            background: linear-gradient(210.55deg, #EBF2F9 19.14%, #C6D7EB 154.68%);
            border: 1px solid rgba(255, 255, 255, 1);
            transition: .5s all;
            &:hover{
              box-shadow: 7px 7px 7px 0 rgba(18, 61, 101, 0.14) inset, -7px -7px 7px 0px rgba(255, 255, 255, 1) inset;
            }
          }
        }
        &--price{
          h1{
            color: rgba(0, 0, 0, 1);
            font-size: 32px;
            font-weight: 600;
            margin: 30px 0;
          }
        }
        &--btn{
          display: flex;
          align-items: center;
          gap: 30px;
          button{
            color: rgba(0, 0, 0, 1);
            font-size: 22px;
            background: linear-gradient(210.55deg, #EBF2F9 19.14%, #C6D7EB 154.68%);
            border: 1px solid;
            border-image-source: linear-gradient(123.5deg, #FFFFFF 38.36%, rgba(219, 230, 242, 0) 69.31%, #8F9FAE 131.91%);
            box-shadow: 16px 16px 64px 0 rgba(18, 61, 101, 0.48),-16px -16px 40px 0px rgba(255, 255, 255, 0.8);
            border-radius: 20px;
            font-weight: 400;
            padding: 8px 80px;
            transition: .3s;
            &:hover {
              background: #e5edf7;
              box-shadow: 3px 3px 7px 0 #88a5bf7a inset,-3px -3px 7px 0 #ffffff inset;
            }
          }
          .btnHeart{
            width: 43px;
            height: 41px;
            color: rgba(0, 0, 0, 0.35);
            cursor: pointer;
          }
        }
        &--harakteristiki{
          margin-top: 30px;
          h1{
            font-size: 24px;
            color: rgba(136, 136, 136, 1);
            font-weight: 400;
          }
          &__all{
            margin-top: 25px;
            &--title{
              margin: 15px 0;
              display: flex;
              align-items: flex-end;
              justify-content: space-between;
              span{
                border-bottom: 2px dotted black;
                width: 100%;
              }
              p{
                font-size: 17px;
                color: rgba(0, 0, 0, 1);
                white-space: nowrap
              }
              &__p{
                min-width: 170px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .container{
    width: 90%;
  }
  #details .details--main__slider--imgs__m {
    width: 515px;
  }
  .swiper {
    width: 515px !important;
  }
  #details .details--main__slider--imgs__i--one {
    width: 120px;
    height: 125px;
  }
  #details .details--main__slider--imgs__i {
    gap: 10px;
  }
  #details .details--main__slider--colors__canvas canvas {
    width: 45px;
    height: 45px;
  }
  #details .details--main__abouts {
    width: 410px;
  }
  #details .details--main__slider--description {
    width: 500px;
  }
}
@media (max-width: 1140px) {
  #details .details--main {
    flex-direction: column;
    align-items: center;
  }
  .swiper {
    width: 815px !important;
  }
  #details .details--main__slider--imgs__m {
    width: 100%;
  }
  #details .details--main__slider--imgs__i--one {
    width: 160px;
    height: 165px;
  }
  #details .details--main__slider--imgs__i {
    gap: 60px;
  }
  #details .details--main__slider--description {
    width: 100%;
  }
  #details .details--main__abouts {
    width: 100%;
    margin-top: 40px;
  }
  #details .details--main__slider--imgs{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 992px) {
  .swiper {
    width: 740px !important;
  }
  #details .details--main__slider--imgs__i {
    gap: 30px;
  }
  #review .review--card {
    width: 98%;
  }
}

@media (max-width: 820px) {
  .swiper {
    width: 710px !important;
  }
  #details .details--main__slider--imgs__i--one {
    width: 155px;
    height: 160px;
  }
  #details .details--main__slider--description {
    width: 95%;
  }
}

@media (max-width: 768px) {
  .swiper {
    width: 600px !important;
  }
  #details .details--main__slider--imgs__i--one {
    width: 130px;
    height: 135px;
  }
  #details .details--main__slider--imgs__i {
    gap: 25px;
  }
}
@media (max-width: 640px) {
  #details .details h6 {
    font-size: 15px;
  }
  .swiper {
    width: 500px !important;
  }
  #details .details--main__slider--imgs__i--one {
    width: 110px;
    height: 115px;
  }
  #details .details--main__slider--imgs__i--one img {
    width: 70px;
    height: 90px;
  }
  #details .details--main__slider--imgs__i {
    gap: 15px;
  }
  #details .details--main__slider--colors h4 {
    font-size: 18px;
  }
  #details .details--main__slider--colors__canvas canvas {
    width: 40px;
    height: 40px;
  }
  #details .details--main__slider--description h1 {
    font-size: 20px;
  }
  #details .details--main__slider--description p {
    font-size: 18px;
  }
  #details .details--main__abouts--h1 h1 {
    font-size: 30px;
  }
  #details .details--main__abouts--memory p {
    font-size: 18px;
  }
  #details .details--main__abouts--memory button {
    font-size: 16px;
  }
  #details .details--main__abouts--price h1 {
    font-size: 30px;
  }
  #details .details--main__abouts--btn button {
    font-size: 20px;
  }
  #details .details--main__abouts--harakteristiki h1 {
    font-size: 22px;
  }
  #details .details--main__abouts {
    width: 95%;
  }
}

@media (max-width: 540px) {
  .swiper {
    width: 440px !important;
  }
  #details .details--main__slider--imgs__i--one {
    width: 98px;
    height: 103px;
  }
  #details .details--main__slider--colors h4 {
    font-size: 16px;
  }
  #details .details--main__slider--colors__canvas canvas {
    width: 35px;
    height: 35px;
  }
  #details .details--main__slider--description h1 {
    font-size: 18px;
  }
  #details .details--main__slider--description p {
    font-size: 16px;
  }
  #details .details--main__abouts--h1 h1 {
    font-size: 28px;
  }
  #details .details--main__abouts--stars .starsYellow {
    width: 18px;
    height: 18px;
  }
  #details .details--main__abouts--stars .starsNone {
    width: 18px;
    height: 18px;
  }
  #details .details--main__abouts--memory p {
    font-size: 16px;
  }
  #details .details--main__abouts--price h1 {
    font-size: 28px;
  }
  #details .details--main__abouts--btn button {
    font-size: 18px;
  }
  #details .details--main__abouts--btn .btnHeart {
    width: 40px;
    height: 40px;
  }
  #details .details--main__abouts--harakteristiki h1 {
    font-size: 20px;
  }
  #details .details--main__abouts--harakteristiki__all--title p {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  #details .details h6 {
    font-size: 14px;
  }
  .swiper {
    width: 400px !important;
  }
  #details .details--main__slider--imgs__i {
    gap: 10px;
  }
  #details .details--main__slider--imgs__i--one {
    width: 90px;
    height: 95px;
  }
  #details .details--main__slider--imgs__i--one img {
    width: 65px;
    height: 80px;
  }
  #details .details--main__abouts--h1 h1 {
    font-size: 26px;
  }
  #details .details--main__abouts--price h1 {
    font-size: 26px;
  }
  #details .details--main__abouts--harakteristiki h1 {
    font-size: 18px;
  }
  #details .details--main__abouts--harakteristiki__all--title p {
    font-size: 16px;
    white-space: normal;
  }
  #details .details--main__slider--description {
    width: 93%;
  }
  #details .details--main__abouts {
    width: 93%;
  }
}

@media (max-width: 420px) {
  .swiper {
    width: 350px !important;
  }
  #details .details--main__slider--imgs .swiper-slide img {
    width: 380px;
    height: 335px;
  }
  #details .details--main__slider--imgs__i--one {
    width: 80px;
    height: 85px;
  }
  #details .details--main__slider--imgs__i--one img {
    width: 60px;
    height: 70px;
  }
}

@media (max-width: 380px) {
  #details .details--main__slider--imgs .swiper-slide img {
    width: 320px;
    height: 335px;
  }
  .swiper {
    width: 290px !important;
  }
  #details .details--main__slider--imgs__i {
    flex-wrap: wrap;
    gap: 15px 30px;
    justify-content: center;
  }
  #details .details--main__slider--imgs__i--one {
    width: 105px;
    height: 110px;
  }
  #details .details--main__slider--imgs__i--one img {
    width: 80px;
    height: 80px;
  }
  #details .details--main__abouts--btn {
    flex-wrap: wrap;
    justify-content: center;
  }
  #details .details--main__abouts--memory button {
    font-size: 15px;
  }
}