.cards {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}
.slick-dots {
    display: none !important;
}
.slick-next {
    display: none !important;
}
.slick-prev {
    display: none !important;
}
.card {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(210.55deg, #ebf2f9 19.14%, #c6d7eb 154.68%);
    /* max-width: 240px; */
    width: auto !important;
    height: 278px;
    border-radius: 24px;
    border: 1px solid white;
    padding: 20px 35px;
}
.basketImage {
    max-width: 100%;
    height: 155px;
    margin-left: 40px;
}
.basket {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.basketIcon {
    max-width: 100%;
    height: 26px;
}
.btnBasket {
    font-family: "Montserrat", "sans-serif";
    font-weight: 400;
    font-size: 14px;
    border: 1px solid white;
    background: none;
    padding: 5px 15px;
    border-radius: 24px;
    box-shadow: 4px 2px 16px 0px #88a5bf7a;
    box-shadow: -4px -2px 16px 0px #ffffff;
}

.basketTitle {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
}
.basketPrice {
    font-family: "Montserrat", "sans-serif";
    font-weight: 500;
    color: rgba(51, 51, 51, 1);
    font-size: 17px;
    padding: 15px;
    text-align: center;
}
.title {
    font-family: "Montserrat", "sans-serif";
    font-weight: 400;
    font-size: 30px;
    padding: 30px;
}

.stars {
    margin-left: 140px;
}
.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.arrows {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.arrowDisplay {
    font-family: "Montserrat", "sans-serif";
    font-weight: 400;
    color: black;
    display: none;
}
.arrowDisplay:hover {
    color: black;
}
.rightArrow {
    padding: 15px;
    font-size: 25px;
    border-radius: 50%;
    border: 1px solid white;
    background: rgba(227, 237, 247, 1);
    box-shadow: 4px 2px 16px 0px #88a5bf7a;
    box-shadow: -4px -2px 16px 0px #ffffff;
}
.leftArrow {
    padding: 15px;
    font-size: 25px;
    border-radius: 50%;
    border: 1px solid white;
    background: rgba(227, 237, 247, 1);
    box-shadow: 4px 2px 16px 0px #88a5bf7a;
    box-shadow: -4px -2px 16px 0px #ffffff;
}

@media screen and (max-width: 500px) {
    .arrows {
        display: none;
    }
    .arrowDisplay {
        display: block;
        font-family: "Montserrat", "sans-serif";
        font-weight: 400;
        color: black;
    }
}
/* @media screen and (max-width: 960px) {
    .btnBasket {
        display: none;
    }
} */
